/* BU CSS PRODUCT SAYFASI İÇİNDİR */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lobster&display=swap');
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    color: rgb(255, 255, 255);
  }
  
  h5{
    font-family: 'Lobster', cursive;
    
  }
  p{
    font-family: 'EB Garamond', serif;
  }

  .material-icons{
    width: 25px;
    height: 40px;
    position: relative;
    top: 7px;
    
  }
  body { /* MAKING BG IMG FULL RESOLUTION */
    min-height: 100%;
    background-image: url(chef.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    
   }
   body::after{
    content: "";
    background: url("chef.jpg");
    background-size: 1920px 820px;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }



  #myBtn { /*GO TO TOP BUTTON CUSTOMIZATION*/
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(59, 59, 59); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 16px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  
  .footer-dark {
    
      width: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      padding:10px 0;
      color:#f0f9ff;
      background-color:#282d32;
    }
  
    
    .footer-dark h3 {
      margin-top:0;
      margin-bottom:12px;
      font-weight:bold;
      font-size:16px;
    }
    
    .footer-dark ul {
      padding:0;
      list-style:none;
      line-height:1.6;
      font-size:14px;
      margin-bottom:0;
    }
    
    .footer-dark ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.6;
    }
    
    .footer-dark ul a:hover {
      opacity:0.8;
    }
    
    @media (max-width:767px) {
      .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
      }
    }
    
    .footer-dark .item.text {
      margin-bottom:36px;
    }
    
    @media (max-width:767px) {
      .footer-dark .item.text {
        margin-bottom:0;
      }
    }
    
    .footer-dark .item.text p {
      opacity:0.6;
      margin-bottom:0;
    }
    
    .footer-dark .item.social {
      text-align:center;
    }
    
    @media (max-width:991px) {
      .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
      }
    }
    @media only screen and (max-width: 990px) {
      .desktop_slider{display:none; visibility: hidden;}
      .mobile_slider{display:block; visibility: visible;}
  }
    
    .footer-dark .item.social > a {
      font-size:20px;
      width:36px;
      height:36px;
      line-height:36px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      box-shadow:0 0 0 1px rgba(255,255,255,0.4);
      margin:0 8px;
      color:#fff;
      opacity:0.75;
    }
    
    .footer-dark .item.social > a:hover {
      opacity:0.9;
    }
    
    .footer-dark .copyright {
      text-align:center;
      padding-top:24px;
      opacity:0.3;
      font-size:13px;
      margin-bottom:0;
    }
    
    